@model ProductionManagement.Models.ViewModels.Pages.PageVM

@{
    ViewBag.Title = ViewBag.PageTitle;
    TempData["PageTitle"] = ViewBag.PageTitle;
}
    <h3>
        @Html.DisplayFor(model=>Model.Title)
    </h3>
