@model IEnumerable<ProductionManagement.Models.ViewModels.MachineShop.MachineCategoryVM>

@{
    ViewBag.Title = "Machine Category";
}

<h2>Machine Category</h2>
<p><a href="AddMachine">Add Machine</a></p>

<div class="new-machineCat">
    <input type="text" id="newMachineCatName" />
    <p>
        <a href="#" id="newCatAdd">Add new category</a>
        <span class="ajax-text">
            <img src="~/Content/img/ajax-loader.gif" />
        </span>
    </p>
</div>

@if (!Model.Any())
{
    <h3>There are no categories inserted</h3>
}
else
{
    <table class="table sorting categories" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="ajaxdivtd"></div>
                    @Html.EditorFor(model => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>

                <td>
                    @Html.ActionLink("Delete Category", "DeleteCategory", new { id = item.Id }, new { @class="delete" })
                </td>
            </tr>
        }

    </table>
}

@section Scripts {
    @*jquery ui cdn *@
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <script>
        $(function () {

            /*
             * Delete category
             * select element from body with a.delete selector
             * if user click ok go to controller method to delete category
             */
            $("body").on("click", "a.delete", function () {
                if (!confirm("Confirm category delete?")) {
                    return false;
                }
            });

            ///////////////////////////////////////////////////////

            /*
             * Reorder category
             * drag and drop to reorder the sorting property and display accoring
             */

            $("table#pages tbody").sortable({
                //set what items to include except class home
                items: "tr:not(.home)",
                //set placeholder to set the css property to highlight border
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/MachineShop/ReorderCategories";

                    $.post(url, ids, function (data) {})
                }
            })

            ///////////////////////////////////////////////////////

            /*
             * Insert a new category
             */
            //get value from user input
            var newCatA = $("a#newCatAdd");
            var newCatTextInput = $("#newMachineCatName");
            var ajaxText = $("span.ajax-text");
            var table = $("table#pages tbody");

            //if user press enter fire text input click event
            newCatTextInput.keyup(function (e) {
                if (e.keyCode == 13) {
                    newCatA.click();
                }
            });

            //verify if the text entered in textbox is greater than 2 char 
            //if text is good post it to controller
            newCatA.click(function (e) {
                e.preventDefault();
                var catName = newCatTextInput.val();
                if (catName.length < 2) {
                    alert("Category name must be at least 2 char long");
                    return false;
                }
                //show the loading icon
                ajaxText.show();

                var url = "/Admin/MachineShop/AddNewMachineCategory";

                //post data to controller
                $.post(url, { catName: catName }, function (data) {

                    var response = data.trim();
                    if (response == "categoryTaken") {
                        //set ajaxtext
                        ajaxText.html("<span class='alert alert-danger'>That category allready inserted!</span>");
                        //fadeout the ajax loading icon
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () {
                                ajaxText.html("<img src='~/Content/img/ajax-loader.gif' />");
                            })
                        }, 2000);
                        return false;
                    } else {
                        //check if allerady exists a table, if not reload the page
                        if (!$("tagle#pages").length) {
                            location.reload();
                        } else {
                            //set the alert text 
                            ajaxText.html("<span class='alert alert-danger'>New category inserted!</span>");
                            //set timeout to fade the ajax icon
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () {
                                    ajaxText.html("<img src='~/Content/img/ajax-loader.gif' />")
                                })
                            }, 2000);
                            //clear inserted value
                            newCatTextInput.val("");
                            //get the last row value and clone it in order to modify
                            var toAppend = $("table#pages tbody tr:last").clone();
                            //append attributes
                            toAppend.attr("id", "id_" + data);
                            toAppend.find("#item_Name").val(catName);
                            toAppend.find("a.delete").attr("href", "/admin/MachineShop/DeleteCategory/" + data);
                            table.append(toAppend);
                            table.sortable("refresh");
                        }
                    }
                })
            });
            ///////////////////////////////////////////////////////

            /*
             * Rename machinecategory
             */
            
            var originalName;
            //get the value by dblclick and set readonly to false
            $("table#pages input.text-box").dblclick(function () {
                //get the name in this variable;
                originalName = $(this).val();
                $(this).attr("readonly", false);
            });
            //make the to blur if pressed enter
            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).blur();
                }
            });

            $("table#pages input.text-box").blur(function () {
                var $this = $(this);
                var ajaxdiv = $this.parent().find(".ajaxdivtd");
                var newCatName = $this.val();
                var id = $this.parent().parent().attr("id").substring(3);
                var url = "/Admin/MachineShop/RenameCategory";

                //check if name is less than 2 char
                if (newCatName.length < 2) {
                    alert("Category must be at least 2 char long.");
                    $this.val(originalName)
                    $this.attr("readonly", true);
                    return false;
                }

                //post newcatname and id
                $.post(url, { newCatName: newCatName, id: id }, function (data) {
                    //check if response title is taken
                    var response = data.trim();
                    if (response == "titletaken") {
                        $this.val(originalName);
                        ajaxdiv.html("<span class='alert alert-danger'>That title is taken</span>").show();
                    } else {
                        ajaxdiv.html("<span class='alert alert-success'>The category name has been changed.</span>").show();
                    }
                    //clear the fade if succes
                    setTimeout(function () {
                        ajaxdiv.fadeOut("fast", function () {
                            ajaxdiv.html("");
                        });
                    }, 2000);
                    //set readonly attr to true when done
                }).done(function () {
                    $this.attr("readonly", true);
                });
            });
            ///////////////////////////////////////////////////////

        });
    </script>

}