@model ProductionManagement.Models.ViewModels.Dashboard.DashboardVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Machines.Count)
        </th>
        <th></th>
    </tr>


</table>
